{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "pure": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "displayName": true
      }
    ]
  ]
}
